{% extends "base.html" %}
{% block content %}
<section>
    <div class="container">
        <h2 class="text-center mb-4">About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt libero sit amet quam tincidunt, non mattis dui finibus. Ut congue, metus eget euismod suscipit, tellus ligula fermentum metus, non pharetra orci lacus a ex. Nunc nec augue ac justo pharetra venenatis. Vestibulum efficitur tincidunt justo, ac malesuada odio bibendum ut. Duis vestibulum urna nec magna laoreet cursus. Aliquam erat volutpat. In hac habitasse platea dictumst.</p>
        <p>Job finding in our website is made easy with our user-friendly platform. We strive to connect employers with qualified candidates, making the hiring process efficient and effective. Whether you are a job seeker or an employer, we are here to help you find the right match.</p>
    </div>
</section>

<section class="features-section bg-light">
    <div class="container">
        <h2 class="text-center mb-4">Our Features</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="feature-card">
                    <i class="fas fa-search feature-icon"></i>
                    <h4>As a worker</h4>
                <p>You can find your dream job in few clicks!</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-card">
                    <i class="fas fa-users feature-icon"></i>
                    <h4>As a company</h4>
                <p>Find your best employers. Very easy and easy to follow!</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-card">
                    <i class="fas fa-check-circle feature-icon"></i>
                    <h4>Totally FREE!</h4>
                <p>Hire or Hired, totally free. We are not asking any money for listing.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}